<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.smart_schedulerbackend.mapper.ClassroomInformationMapper">
    <resultMap id="ClassroomInformationMap" type="org.example.smart_schedulerbackend.model.entity.ClassroomInformation">
        <id property="classroomNumber" column="classroom_number"/>
        <result property="classroomName" column="classroom_name"/>
        <result property="schoolDistricts" column="school_districts"/>
        <result property="schoolBuilding" column="school_building"/>
        <result property="floor" column="floor"/>
        <result property="classroomLabels" column="classroom_labels"/>
        <result property="classroomType" column="classroom_type"/>
        <result property="capacity" column="capacity"/>
        <result property="maximumCapacity" column="maximum_capacity"/>
        <result property="airConditioning" column="air_conditioning"/>
        <result property="status" column="Status"/>
        <result property="classroomDescription" column="classroom_description"/>
        <result property="managementDepartment" column="management_department"/>
        <result property="weeklyHours" column="weekly_hours"/>
        <result property="classroomSize" column="classroom_size"/>
        <result property="tableType" column="table_type"/>
        <result property="projector" column="projector"/>
        <result property="lamp" column="lamp"/>
        <result property="microphone" column="microphone"/>
        <result property="isBooking" column="Is_booking"/>
    </resultMap>

    <select id="getAllClassroomInformation" parameterType="java.util.Map" resultMap="ClassroomInformationMap">
        SELECT * FROM classroom_information WHERE school_districts = #{schoolDistricts} AND school_building = #{schoolBuilding}
    </select>

    <select id="countClassroomInformation" parameterType="java.util.Map" resultType="long">
        SELECT COUNT(*) FROM classroom_information WHERE school_districts = #{schoolDistricts} AND school_building = #{schoolBuilding}
    </select>

    <select id="getEmptyClassroom" parameterType="java.util.Map" resultMap="ClassroomInformationMap">
        SELECT *
        FROM classroom_information
        WHERE school_building = #{schoolBuilding} AND Classroom_name
        NOT IN(
        SELECT classroom_name
        FROM scheduling_task_final
        WHERE Class_school_district = #{classSchoolDistrict} AND #{timeWeek} >= CAST(SUBSTRING_INDEX(Class_weeks_hours, '-', 1) AS SIGNED)  AND CAST(SUBSTRING_INDEX(SUBSTRING_INDEX(Class_weeks_hours, ':', 1), '-', -1) AS SIGNED) >= #{timeWeek} AND time = #{time}
        ) AND Classroom_name
        NOT IN(
            SELECT classroom_name
            FROM classroom_booking
            WHERE school_districts = #{classSchoolDistrict} AND time_week = #{timeWeek} AND time = #{time} AND is_booking = 'Yes'
        )
    </select>

</mapper>

