<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.smart_schedulerbackend.mapper.TeacherMapper">
    <resultMap id="TeacherMap" type="org.example.smart_schedulerbackend.model.entity.Teacher">
        <id property="teacherNumber" column="teacher_number"/>
        <result property="teacherName" column="teacher_name"/>
        <result property="gender" column="gender"/>
        <result property="englishName" column="english_name"/>
        <result property="ethnicGroup" column="ethnic_group"/>
        <result property="title" column="title"/>
        <result property="department" column="department"/>
        <result property="external" column="external"/>
        <result property="facultyCategory" column="faculty_category"/>
        <result property="preference" column="preference"/>
    </resultMap>

    <select id="getAllTeacherInformation" parameterType="String" resultMap="TeacherMap">
        SELECT * FROM teacher_information WHERE department = #{department}
    </select>

    <select id="getTeacherInformation" parameterType="String" resultMap="TeacherMap">
        SELECT * FROM teacher_information WHERE teacher_number = #{teacherNumber}
    </select>

    <select id="countTeacherInformation" parameterType="String" resultType="long">
        SELECT COUNT(*) FROM teacher_information WHERE department = #{department}
    </select>

    <update id="updatePreference" parameterType="java.util.Map">
        UPDATE teacher_information
        SET preference = #{preference}
        WHERE teacher_number = #{teacher_number}
    </update>
</mapper>